.address {
  width: 100%;
  margin: auto;
}

@media (min-width: $widthDesktop) {
  .address {
    position: relative;
  }
}

.address--cat {
  background-color: $secondaryBackColor;
}

.address__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: $widthTablet) {
  .address__wrapper {
    width: 628px;
    justify-content: space-between;
    margin: auto;
    padding: 70px;
  }
}

@media (min-width: $widthDesktop) {
  .address__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    z-index: 100;
    background-color: $baseColor;
  }
}

.address__invite {
  text-transform: uppercase;
  font-size: 16px;
  width: 123px;
  line-height: 1.4;
  margin-right: 20px;
}

.address__location {
  font-family: $fontSecondary;
  font-size: $fontBaseSize;
  width: 135px;
  line-height: 1.4;
}

.address__map {
  position: relative;
  background-color: $secondaryBackColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 200px;
    width: 124px;
    height: 106px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
