.address {
  width: 100%;
  margin: auto;
}

.address__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.address__wrapper--cat {
  background-color: $secondaryBackColor;
}

.address__invite {
  text-transform: uppercase;
  font-size: 16px;
  width: 123px;
  line-height: 1.4;
  margin-right: 20px;
}

.address__location {
  font-family: $fontSecondary;
  font-size: $fontBaseSize;
  width: 135px;
  line-height: 1.4;
}

.address__map {
  position: relative;
  background-color: $secondaryBackColor;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    bottom: 200px;
    width: 124px;
    height: 106px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
