.address {
  width: 100%;
  margin: auto;
}

@media (min-width: $widthDesktop) {
  .address {
    position: relative;
  }
}

.address--cat {
  background-color: $secondaryBackColor;
}

.address__wrapper {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 26px;
  width: 320px;
  margin: auto;
}

@media (min-width: $widthTablet) {
  .address__wrapper {
    width: 628px;
    justify-content: space-between;
    margin: auto;
    padding: 70px;
  }
}

@media (min-width: $widthDesktop) {
  .address__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    z-index: 100;
    background-color: $baseColor;
  }
}

.address__invite {
  text-transform: uppercase;
  font-size: 16px;
  width: 130px;
  line-height: 1.25;
  margin: 0;
  margin-right: 11px;
  margin-left: 19px;
}

.address__location {
  font-family: $fontSecondary;
  font-size: $fontBaseSize;
  width: 135px;
  line-height: 1.43;
  margin: 0;
}

.address__map {
  position: relative;
  background-color: $secondaryBackColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: $secondaryBackColor url("../img/bg-map-mobile@1x.png") no-repeat center center;
  height: 362px;

  &::after {
    content: "";
    position: absolute;
    bottom: 147px;
    width: 124px;
    height: 100px;
    background: url("../img/map-pin.png") no-repeat center center / 62px;
  }
}
