.button {
  font: inherit;
  font-weight: 400;
  text-align: center;
  color: $baseColor;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: $baseBackColor;
  width: 280px;
  font-size: $fontBaseSize;
  line-height: 1.29;
  padding: 11px 0;
  display: block;
  margin: auto;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #90c56e;
  }
}

@media (min-width: $widthTablet) {
  .button {
    width: 250px;
  }
}

.button--secondary {
  background-color: $secondaryBackColor;
  color: $fontBaseColor;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: #bababa;
  }
}

@media (min-width: $widthDesktop) {
  .button--secondary {
    width: 169px;
  }
}
