.button {
  font: inherit;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: #68b738;
  width: 280px;
  font-size: 14px;
  line-height: 1;
  padding: 13px 0 12px 0;
  display: block;
  margin: auto;
}
