.button {
  font: inherit;
  font-weight: 400;
  text-align: center;
  color: $baseColor;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background-color: $baseBackColor;
  width: 280px;
  font-size: 16px;
  line-height: 1;
  padding: 13px 0 12px;
  display: block;
  margin: auto;
}

@media (min-width: $widthTablet) {
  .button {
    width: 250px;
  }
}

.button--secondary {
  background-color: $secondaryBackColor;
  color: $fontBaseColor;
}
