.example {
  width: $widthMobile;
  margin: auto;
  background-color: $secondaryBackColor;
  padding-top: 30px;
}

@media (min-width: $widthTablet) {
  .example {
    padding-top: 45px;
    border-left: 30px;
    width: 708px;
    height: 1032px;
    background: linear-gradient($baseColor 50%, $secondaryBackColor 50% 50%);
  }
}

@media (min-width: $widthDesktop) {
  .example {
    width: 1220px;
    height: 558px;
    padding: 34px 110px 40px;
    background: linear-gradient($baseColor 20%, $secondaryBackColor 20% 70%);
    display: flex;
  }
}

.example__title {
  @include titles;
  color: $linkColor;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 34px;
}

@media (min-width: $widthTablet) {
  .example__title {
    font-size: 60px;
    line-height: 1;
    padding: 0;
    padding-bottom: 60px;
  }
}

.example__description {
  color: $fontBaseColor;
  width: 266px;
  margin: 0;
  font-family: $fontSecondary;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 40px;
  line-height: 1.29;
}

@media (min-width: $widthTablet) {
  .example__description {
    width: 680px;
  }
}

@media (min-width: $widthDesktop) {
  .example__description {
    width: 440px;
  }
}

@media (min-width: $widthTablet) {
  .example_wrapper-tabl {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
}

@media (min-width: $widthDesktop) {
  .example_wrapper-tabl {
    width: 430px;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }
}

.example_wrapper {
  width: 124px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 16px;
    width: 123px;
    height: 55px;
    border: 1px solid $baseBorderColor;
    border-radius: 3px;
    z-index: 1;
  }
}

.example_wrapper:first-child {
  margin-right: 32px;
}

.example__result {
  width: 320px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.example__definition {
  font-family: $fontSecondary;
  font-size: 12px;
  line-height: 1;
  width: 70px;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -8px;
    width: 87px;
    height: 30px;
    background-color: $secondaryBackColor;
    z-index: -1;
  }
}

@media (min-width: $widthTablet) {
  .example__definition {
    &::after {
      background-color: $baseColor;
    }
  }
}

@media (min-width: $widthDesktop) {
  .example__definition {
    &::after {
      background-color: $secondaryBackColor;
    }
  }
}

.example__value {
  font-size: 24px;
  margin: 0;
  padding-bottom: 8px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.example__total-cost {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 41px;
}

.example__slider {
  padding-bottom: 37px;
}

@media (min-width: $widthDesktop) {
  .example__slider {
    width: 700px;
  }
}

.example__cat {
  height: 230px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 38px;
}

.example__toggle {
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 64px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 55px;
    top: 2px;
    width: 82px;
    height: 12px;
    border-radius: 6px;
    border: solid 1px $togglerBorderColor;
    background-color: $baseColor;
  }

  &::before {
    content: "";
    position: absolute;
    left: 61px;
    top: 6px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: $baseBackColor;
    z-index: 1;
  }
}

.example__toggler:first-child {
  margin-right: 120px;
}
