.features {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  margin-top: 22px;
}

@media (min-width: $widthDesktop) {
  .features {
    width: $widthDesktop;
    display: flex;
  }
}

.features__item {
  width: 260px;
  display: block;
  margin: auto;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-left: 20px;
}

@media (min-width: $widthTablet) {
  .features__item {
    width: 688px;
  }
}

@media (min-width: $widthDesktop) {
  .features__item {
    width: 570px;
    padding-top: 47px;
  }
}

.features__title {
  @include titles;
  color: $linkColor;
  text-transform: uppercase;
  font-size: $fontSecTitleSize;
  text-align: left;
  margin-left: 72px;
  margin-bottom: 36px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin-left: -170px;
    bottom: -10px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    margin-left: -70px;
    bottom: -12px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

@media (min-width: $widthTablet) {
  .features__title {
    font-size: 36px;

    &::after {
      content: "";
      position: absolute;
      margin-left: 210px;
      bottom: -165px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      margin-left: 350px;
      bottom: -180px;
      width: 200px;
      height: 200px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

@media (min-width: $widthDesktop) {
  .features__title {
    font-size: 36px;
    margin-left: 216px;

    &::after {
      content: "";
      position: absolute;
      margin-left: -310px;
      bottom: -30px;
      width: 71px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      margin-left: -170px;
      bottom: -30px;
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

.features__title--fat {
  &::after {
    width: 67px;
    height: 28px;
    margin-left: -217px;
    bottom: -1px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

@media (min-width: $widthTablet) {
  .features__title--fat {
    &::after {
      width: 268px;
      height: 113px;
      margin-left: 100px;
      bottom: -150px;
    }
  }
}

@media (min-width: $widthDesktop) {
  .features__title--fat {
    &::after {
      width: 134px;
      height: 57px;
      margin-left: -400px;
      bottom: -30px;
    }
  }
}

.features__description {
  font-family: $fontSecondary;
  width: 240px;
  text-align: left;
  line-height: 1.29;
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .features__description {
    width: 340px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $widthDesktop) {
  .features__description {
    width: 470px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.features__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: $linkColor;
  margin: 17px 0 22px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    bottom: 2px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
