.features {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  margin-top: 22px;
}

@media (min-width: $widthTablet) {
  .features {
    margin: 0;
  }
}

@media (min-width: $widthDesktop) {
  .features {
    width: 1220px;
    padding: 80px 110px 40px;
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
}

.features__item {
  width: 260px;
  display: block;
  margin: auto;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-left: 20px;
}

@media (min-width: $widthTablet) {
  .features__item {
    width: 655px;
    padding: 76px 0 56px 53px;
    margin-bottom: 30px;
  }
}

@media (min-width: $widthDesktop) {
  .features__item {
    width: 518px;
    padding-left: 52px;
    padding-top: 77px;
    padding-bottom: 56px;
    margin: 0;
  }
}

.features__title {
  @include titles;
  color: $linkColor;
  text-transform: uppercase;
  font-size: $fontSecTitleSize;
  text-align: left;
  margin-left: 72px;
  margin-bottom: 36px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin-left: -170px;
    bottom: -10px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    margin-left: -70px;
    bottom: -12px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

@media (min-width: $widthTablet) {
  .features__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 25px;

    &::after {
      content: "";
      position: absolute;
      margin-left: 258px;
      bottom: -163px;
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      margin-left: 393px;
      bottom: -180px;
      width: 200px;
      height: 200px;
      background-color: $baseBackColor;
      border-radius: 50%;
    }
  }
}

@media (min-width: $widthDesktop) {
  .features__title {
    font-size: 36px;
    margin-left: 162px;
    margin-bottom: 75px;

    &::after {
      content: "";
      position: absolute;
      margin-left: -310px;
      bottom: -25px;
      width: 71px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      margin-left: -164px;
      bottom: -35px;
      width: 100px;
      height: 100px;
      background-color: $baseBackColor;
      border-radius: 50%;
    }
  }
}

.features__title--fat {
  &::after {
    width: 67px;
    height: 28px;
    margin-left: -217px;
    bottom: -1px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

@media (min-width: $widthTablet) {
  .features__title--fat {
    &::after {
      width: 268px;
      height: 113px;
      margin-left: 155px;
      bottom: -135px;
    }
  }

  .features__title--fat ~ .features__description {
    min-height: 97px;
  }
}

@media (min-width: $widthDesktop) {
  .features__title--fat {
    &::after {
      width: 134px;
      height: 57px;
      margin-left: -385px;
      bottom: -14px;
    }
  }

  .features__title--fat ~ .features__description {
    min-height: auto;
  }
}

.features__description {
  font-family: $fontSecondary;
  width: 240px;
  text-align: left;
  line-height: 1.29;
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .features__description {
    width: 372px;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    margin-bottom: 30px;
  }

  .features__title--fat ~ .features__description {
    width: 340px;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: $widthDesktop) {
  .features__description {
    width: 480px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
  }

  .features__title--fat ~ .features__description {
    width: 445px;
    margin-bottom: 5px;
  }
}

.features__link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: $linkColor;
  margin: 17px 0 16px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin-left: 10px;
    bottom: 7px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $widthTablet) {
  .features__link {
    font-size: 20px;
    margin: 0;

    &::after {
      margin-left: 21px;
      bottom: 9px;
    }
  }
}

@media (min-width: $widthDesktop) {
  .features__link {
    &::after {
      margin-left: 23px;
      bottom: 9px;
    }
  }
}
