.footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  background-color: $secondaryBackColor;
}

@media (min-width: $widthTablet) {
  .footer {
    flex-direction: row;
    // width: 708px;
    // padding-left: 30px;
    // padding-right: 30px;
    padding-top: 55px;
    padding-bottom: 50px;
    justify-content: space-between;
  }
}

@media (min-width: $widthDesktop) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer__wrapper {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 21px;
}

@media (min-width: $widthTablet) {
  .footer__wrapper {
    width: auto;
    padding: 0;
    justify-content: flex-end;
    margin-right: 30px;
  }
}


.footer__copyright {
  font-family: $fontSecondary;
}
