.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $widthTablet) {
  .form {
    margin-bottom: 32px;
  }
}

@media (min-width: $widthDesktop) {
  .form {
    margin-bottom: 42px;
  }
}

.form__fields {
  width: $widthMobile;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
}

.form__wrapper-desk {
  margin-bottom: 14px;
}

@media (min-width: $widthTablet) {
  .form__wrapper-desk {
    margin-bottom: 63px;
  }
}

@media (min-width: $widthDesktop) {
  .form__wrapper-desk {
    display: flex;

    @include widthDesktop;
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__fields--main {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

@media (min-width: $widthTablet) {
  .form__fields--main {
    @include widthTablets;
    width: 631px;
    padding-left: 70px;
    padding-right: 67px;
    margin-bottom: 45px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--main {
    @include widthDesktop;
    width: 568px;
    padding: 0;
    margin: 0;
    margin-right: 78px;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--main .form__form-input {
    margin-left: 20px;
  }
}

.form__fields--contacts {
  width: 300px;
  padding: 0;
  padding-right: 20px;
  margin: auto;
}

.form__fields--contacts .form__field-legend {
  width: 230px;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $baseColor;
}

@media (min-width: $widthTablet) {
  .form__fields--contacts .form__field-legend {
    font-size: 36px;
    width: 588px;
    padding-top: 15px;
    padding-left: 36px;
    background-color: $baseColor;
    margin-bottom: 75px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--contacts .form__field-legend {
    padding-top: 50px;
    margin-bottom: 75px;
    padding-left: 40px;
  }
}

.form__fields--contacts .form__form-input {
  margin-left: 12px;
}

@media (min-width: $widthTablet) {
  .form__fields--contacts .form__form-input {
    margin-left: 20px;
  }
}

.form__form-label[for="textfield-mail"] {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 246px;
    top: 16px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-mail.svg");
  }
}

@media (min-width: $widthTablet) {
  .form__form-label[for="textfield-mail"] {
    &::after {
      left: 592px;
      top: 20px;
    }
  }
}

@media (min-width: $widthDesktop) {
  .form__form-label[for="textfield-mail"] {
    &::after {
      left: 532px;
    }
  }
}

.form__form-label[for="textfield-phone"] {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 246px;
    top: 14px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-phone.svg");
  }
}

@media (min-width: $widthTablet) {
  .form__form-label[for="textfield-phone"] {
    &::after {
      left: 592px;
      top: 17px;
    }
  }
}

@media (min-width: $widthDesktop) {
  .form__form-label[for="textfield-phone"] {
    &::after {
      left: 531px;
    }
  }
}

@media (min-width: $widthTablet) {
  .form__fields--contacts {
    @include widthTablets;
    width: 715px;
    margin-bottom: 30px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--contacts {
    @include widthDesktop;
    width: 1260px;
    padding-left: 0;
    padding-right: 40px;
  }
}

.form__wrapper-cont {
  padding-left: 20px;
}

@media (min-width: $widthTablet) {
  .form__wrapper-cont {
    padding-left: 39px;
    width: 631px;
  }
}

@media (min-width: $widthDesktop) {
  .form__wrapper-cont {
    display: flex;
    width: auto;
    padding-left: 40px;
  }

  .form__wrapper-cont .form__form-label {
    width: 568px;
  }

  .form__wrapper-cont .form__form-label:first-child {
    margin-right: 80px;
  }
}

.form__fields--comment {
  width: 320px;
  margin: auto;
}

.form__fields--comment .form__field-legend {
  padding-top: 15px;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $baseColor;
  width: 160px;
}

@media (min-width: $widthTablet) {
  .form__fields--comment .form__field-legend {
    width: 257px;
    font-size: 36px;
    padding-top: 15px;
    margin-bottom: 76px;
    padding-left: 36px;
    background-color: $baseColor;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--comment .form__field-legend {
    padding-left: 40px;
    padding-top: 50px;
    margin-bottom: 75px;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--comment {
    @include widthTablets;
    margin-bottom: 37px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--comment {
    @include widthDesktop;
    margin: auto;
    width: 1260px;
    padding-left: 0;
    padding-right: 40px;
    padding-bottom: 12px;
  }
}

.form__fields--slim {
  border: 1px solid $baseBorderColor;
  padding: 29px 20px 25px 66px;
  width: 234px;
}

@media (min-width: $widthTablet) {
  .form__fields--slim {
    @include widthTablets;
    width: 520px;
    padding-left: 88px;
    padding-top: 31px;
    padding-bottom: 34px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--slim {
    width: 462px;
    margin: 0;
    margin-top: 126px;
    margin-bottom: 20px;
  }
}

.form__fields--more {
  padding-bottom: 31px;
  width: 320px;
  margin: auto;
}

.form__fields--more .form__field-legend {
  padding-top: 15px;
  margin-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  width: 185px;
}

@media (min-width: $widthTablet) {
  .form__fields--more .form__field-legend {
    width: 289px;
    font-size: 36px;
    padding-top: 15px;
    margin-bottom: 67px;
    padding-left: 36px;
    background-color: $baseColor;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--more .form__field-legend {
    padding-top: 50px;
    margin-bottom: 66px;
    padding-left: 40px;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--more {
    @include widthTablets;
    padding-bottom: 13px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--more {
    @include widthDesktop;
    margin: auto;
    width: 1260px;
    padding-left: 0;
    padding-right: 40px;
  }
}

.form__fields--more .form__form-label {
  padding-bottom: 14px;
  margin-bottom: 10px;
  padding-left: 45px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    border: solid 1px $togglerBorderColor;
    background-color: $baseColor;
    left: -1px;
    top: -6px;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--more .form__form-label {
    padding-bottom: 0;
    margin-bottom: 50px;
    margin-right: 0;
    width: 200px;
    position: relative;

    &::before {
      width: 39px;
      height: 39px;
      left: -13px;
      top: -9px;
    }
  }

  .form__fields--more .form__form-label:nth-child(odd) {
    margin-right: 100px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--more .form__form-label {
    padding-bottom: 0;
    margin-bottom: 58px;
    margin-right: 100px;
    width: 180px;
  }

  .form__fields--more .form__form-label:last-child {
    margin-right: 0;
  }
}

.form__form-check:checked + span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  z-index: 5;
  left: 4px;
  top: 1px;
}

@media (min-width: $widthTablet) {
  .form__form-check:checked + span::after {
    left: -4px;
    top: 3px;
  }
}

.form__fields--more .form__form-label:last-child {
  padding-bottom: 0;
}

.form__fields--slim .form__form-label {
  padding-bottom: 24px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: solid 1px $togglerBorderColor;
    background-color: $baseColor;
    left: -46px;
    top: -8px;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--slim .form__form-label {
    padding-bottom: 30px;

    &::before {
      width: 38px;
      height: 38px;
      border-radius: 19px;
      left: -60px;
      top: -8px;
    }
  }
}

.form__form-radio:checked + span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: $baseBackColor;
  z-index: 2;
  left: -37px;
  top: 1px;
}

@media (min-width: $widthTablet) {
  .form__form-radio:checked + span::after {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    left: -49px;
    top: 3px;
  }
}

.form__fields--slim .form__form-label:last-child {
  padding-bottom: 0;
}

.form__more-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

@media (min-width: $widthTablet) {
  .form__more-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 631px;
    padding-left: 50px;
  }
}

@media (min-width: $widthDesktop) {
  .form__more-wrapper {
    width: 1210px;
  }
}

.form__field-legend {
  font-size: 24px;
  line-height: 1;
  width: 190px;
  margin-bottom: 30px;
  padding-top: 17px;
}

@media (min-width: $widthTablet) {
  .form__field-legend {
    width: 510px;
  }
}

.form__field-legend--main {
  width: 280px;
  font-size: 14px;
  line-height: 1.29;
  padding-bottom: 39px;
  text-transform: uppercase;
}

@media (min-width: $widthTablet) {
  .form__field-legend--main {
    font-size: 20px;
    line-height: 1.5;
    width: 330px;
    padding-bottom: 66px;
  }
}

.form__form-label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $labelColor;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.form__form-label sup {
  top: inherit;
  font-size: 100%;
}

@media (min-width: $widthTablet) {
  .form__form-label {
    margin-bottom: 20px;
    width: auto;
    font-size: 20px;
  }
}

.form__notes {
  display: block;
  font-family: $fontSecondary;
  text-align: center;
  margin-top: 23px;
}

@media (min-width: $widthTablet) {
  .form__notes {
    margin: 0;
    font-size: 16px;
  }
}

.form__form-input {
  border: solid 1px $baseBorderColor;
  font-family: $fontBase;
  box-sizing: border-box;
  padding: 14px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: $fontBaseColor;
  margin-left: 16px;
  flex-grow: 1;
}

@media (min-width: $widthTablet) {
  .form__form-input {
    font-size: 20px;
  }
}

.form__form-note {
  text-transform: uppercase;
  font-family: $fontBase;
  font-size: 16px;
  color: $fontBaseColor;
  width: 253px;
  border: solid 1px $baseBorderColor;
  resize: none;
  padding: 13px 10px 10px 15px;
  margin-left: 20px;
}

@media (min-width: $widthTablet) {
  .form__form-note {
    width: 590px;
    padding: 14px 20px;
    padding-bottom: 0;
    font-size: 20px;
    margin-left: 37px;
  }
}

@media (min-width: $widthDesktop) {
  .form__form-note {
    width: 1178px;
    margin-left: 40px;
  }
}

.form__notes-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $widthTablet) {
  .form__notes-wrapper {
    padding-bottom: 10px;
    padding-left: 4px;
    flex-direction: row;
    width: 631px;
    align-items: center;
  }
}

@media (min-width: $widthDesktop) {
  .form__notes-wrapper {
    width: 1260px;
    padding-left: 40px;
  }
}

@media (min-width: $widthDesktop) {
  .form .button {
    width: 568px;
    margin: 0;
  }
}

.form__notes-wrapper .button {
  font-size: 16px;
}

@media (min-width: $widthTablet) {
  .form__notes-wrapper .button {
    width: 283px;
    font-size: 20px;
    margin: 0;
    margin-right: 63px;
    padding: 13px 0;
  }
}

@media (min-width: $widthDesktop) {
  .form__notes-wrapper .button {
    width: 568px;
    margin-right: 80px;
  }
}

.form__wrapper-field {
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 29px;
    width: 100%;
    height: 3px;
    background-color: $baseBackColor;
    z-index: -1;
  }
}

@media (min-width: $widthTablet) {
  .form__wrapper-field {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 38px;
      width: 100%;
      height: 3px;
      background-color: $baseBackColor;
      z-index: -1;
    }
  }
}

@media (min-width: $widthDesktop) {
  .form__wrapper-field {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 71px;
      width: 100%;
      height: 3px;
      background-color: $baseBackColor;
      z-index: -1;
    }
  }
}
