.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fields {
  width: $widthMobile;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
}

@media (min-width: $widthDesktop) {
  .forms__wrapper-desk {
    display: flex;

    @include widthDesktop;
    justify-content: space-between;
  }
}

.form__fields--main {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

@media (min-width: $widthTablet) {
  .form__fields--main {
    @include widthTablets;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--main {
    @include widthDesktop;
    width: inherit;
    padding: 0;
  }
}

.form__fields--contacts {
  width: 280px;
  padding: 0 20px;
}

.form__fields--contacts .form__field-legend {
  position: relative;
  margin-bottom: 32px;

  &::after {
    content: "";
    position: absolute;
    left: 201px;
    top: 42px;
    width: 99px;
    height: 3px;
    background-color: $baseBackColor;
  }
}

.form__fields--contacts .form__form-input {
  margin-left: 12px;
}

.form__form-label[for=textfield-mail] {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 246px;
    top: 16px;
    width: 18px;
    height: 14px;
    background-image: url("../img/icon-mail.svg");
  }
}

.form__form-label[for=textfield-phone] {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 246px;
    top: 14px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-phone.svg");
  }
}

@media (min-width: $widthTablet) {
  .form__fields--contacts {
    @include widthTablets;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--contacts {
    @include widthDesktop;
  }
}

@media (min-width: $widthDesktop) {
  .forms__wrapper-cont {
    display: flex;
  }
}

.form__fields--comment {
  width: 300px;
  padding-left: 20px;
}

.form__fields--comment .form__field-legend {
  position: relative;
  padding-top: 15px;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    left: 142px;
    top: 28px;
    width: 158px;
    height: 3px;
    background-color: $baseBackColor;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--comment {
    @include widthTablets;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--comment {
    @include widthDesktop;
  }
}

.form__fields--slim {
  border: 1px solid $baseBorderColor;
  padding: 29px 20px 25px 66px;
  width: 234px;
}

@media (min-width: $widthTablet) {
  .form__fields--slim {
    @include widthTablets;
    width: 715px;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--slim {
    width: inherit;
  }
}

.form__fields--more {
  padding-bottom: 31px;
  width: 300px;
  padding-left: 20px;
}

.form__fields--more .form__field-legend {
  position: relative;
  padding-top: 18px;
  margin-bottom: 41px;

  &::after {
    content: "";
    position: absolute;
    left: 164px;
    top: 32px;
    width: 136px;
    height: 3px;
    background-color: $baseBackColor;
  }
}

@media (min-width: $widthTablet) {
  .form__fields--more {
    @include widthTablets;
  }
}

@media (min-width: $widthDesktop) {
  .form__fields--more {
    @include widthDesktop;
  }
}

.form__fields--more .form__form-label {
  padding-bottom: 14px;
  margin-bottom: 10px;
  padding-left: 45px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 29px;
    height: 29px;
    border: solid 1px $togglerBorderColor;
    background-color: $baseColor;
    left: -1px;
    top: -6px;
  }
}

.form__form-check:checked + span:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  z-index: 5;
  left: 4px;
  top: 1px;
}

.form__fields--more .form__form-label:last-child {
  padding-bottom: 0;
}

.form__fields--slim .form__form-label {
  padding-bottom: 24px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: solid 1px $togglerBorderColor;
    background-color: $baseColor;
    left: -46px;
    top: -8px;
  }
}

.form__form-radio:checked + span:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: $baseBackColor;
  z-index: 2;
  left: -37px;
  top: 1px;
}

.form__fields--slim .form__form-label:last-child {
  padding-bottom: 0;
}

.form__more-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $widthTablet) {
  .form__more-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__field-legend {
  font-size: 24px;
  line-height: 1;
  width: 190px;
  margin-bottom: 30px;
  padding-top: 30px;
}

@media (min-width: $widthTablet) {
  .form__field-legend {
    width: 510px;
  }
}

.form__field-legend--main {
  width: 280px;
  font-size: 14px;
  line-height: 1.29;
  padding-bottom: 39px;
  text-transform: uppercase;
}

.form__form-label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  color: $labelColor;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.form__form-label sup {
  top: inherit;
  font-size: 100%;
}

@media (min-width: $widthTablet) {
  .form__form-label {
    width: 280px;
  }
}

.forms__notes {
  display: block;
  font-family: $fontSecondary;
  text-align: center;
  margin-top: 23px;
}

@media (min-width: $widthTablet) {
  .forms__notes {
    margin-left: 61px;
  }
}

.form__form-input {
  border: solid 1px $baseBorderColor;
  font-family: $fontBase;
  box-sizing: border-box;
  padding: 14px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.13;
  color: $fontBaseColor;
  margin-left: 16px;
  flex-grow: 1;
}

.form__form-note {
  text-transform: uppercase;
  font-family: $fontBase;
  font-size: 16px;
  color: $fontBaseColor;
  width: 253px;
  border: solid 1px $baseBorderColor;
  resize: none;
  padding: 13px 10px 10px 15px;
}

@media (min-width: $widthTablet) {
  .form__form-note {
    width: 631px;
  }
}

@media (min-width: $widthDesktop) {
  .form__form-note {
    width: 1220px;
  }
}

.form__notes-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $widthTablet) {
  .form__notes-wrapper {
    flex-direction: row;
  }
}

@media (min-width: $widthDesktop) {
  .form__notes-wrapper {
    width: 1327px;
    padding-left: 113px;
  }
}

@media (min-width: $widthDesktop) {
  .form .button {
    width: 568px;
    margin: 0;
  }
}
