.gift {
  width: $widthMobile;
  margin: auto;
  text-align: center;
  height: 290px;
  margin-top: 39px;
  margin-bottom: 35px;
  background: no-repeat center url("../img/gift-photo-mobile@1x.jpg");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .gift {
    background: no-repeat center url("../img/gift-photo-mobile@2x.jpg") / 280px auto;
  }
}

@media (min-width: $widthTablet) {
  .gift {
    margin: 25px 0 31px;
    width: $widthTablet;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gift {
      background: no-repeat center url("../img/gift-photo-tablet@2x.jpg") / 708px auto;
    }
  }
}

@media (min-width: $widthDesktop) {
  .gift {
    margin: 0;
    margin-top: 45px;
    width: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .gift {
      background: no-repeat center url("../img/gift-photo-desktop@2x.jpg") / 245px auto;
    }
  }
}

.gift__description {
  width: 180px;
  font-family: $fontSecondary;
  font-size: 16px;
  color: $secondaryTextColor;
  margin: 0 auto;
  padding-top: 190px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 120px;
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $widthTablet) {
  .gift__description {
    padding: 0;
    text-align: left;
    padding-top: 117px;
    margin-left: 452px;
    position: relative;
    line-height: 1.25;

    &::after {
      content: "";
      position: absolute;
      left: -331px;
      bottom: 7px;
      width: 56px;
      height: 61px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

@media (min-width: $widthDesktop) {
  .gift__description {
    padding: 0;
    text-align: center;
    padding-top: 187px;
    position: relative;
    margin: auto;

    &::after {
      content: "";
      position: absolute;
      left: 64px;
      bottom: 120px;
      width: 56px;
      height: 61px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}
