.header {
  background-color: #ffffff;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 11px 0 15px 0;
}

.header__picture-logo {
/*   content: "";
position: absolute;
width: 192px;
height: 39px;
background-image: url("../img/logo-mobile.svg");
background-repeat: no-repeat;
background-position: 0 0; */
}

