.header {
  width: 100%;
}

@media (min-width: $widthDesktop) {
  .header--bgcat {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -581px;
      width: 50%;
      height: 696px;
      background: no-repeat right url("../img/index-background-desktop@1x.jpg"), #64a83b;
      z-index: -2;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::after {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}

.header__big-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .header__big-wrapper {
    flex-direction: row;
    width: 709px;
    background-color: initial;
    padding-right: 30px;
    padding-left: 29px;
    padding-top: 24px;
    margin: auto;
    border: none;
    justify-content: space-between;
  }
}

@media (min-width: $widthDesktop) {
  .header__big-wrapper {
    width: 1220px;
    padding-left: 0;
    padding-top: 53px;
    padding-right: 0;
    justify-content: space-between;
    margin: auto;
  }
}

.header__wrapper {
  width: 281px;
  display: flex;
  align-items: center;
  padding: 13px 19px 11px 20px;
  justify-content: space-between;
}

@media (min-width: $widthTablet) {
  .header__wrapper {
    width: auto;
    padding: 0;
    justify-content: space-between;
  }
}

.header__picture {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $widthTablet) {
  .header__picture img {
    width: 174px;
    height: auto;
  }
}

@media (min-width: $widthDesktop) {
  .header__picture img {
    width: 203px;
    height: auto;
  }
}

.header__toggle {
  border: none;
  cursor: pointer;
  width: 19px;
  height: 19px;
  outline: none;
  background: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}

.header__toggle--opened {
  width: 25px;
  background: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

@media (min-width: $widthTablet) {
  .header__toggle {
    display: none;
  }
}
