.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__wrapper {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__picture-logo {
    padding-top: 11px;
    padding-bottom: 15px;
  }
}
