.main__title {
  font-size: $fontMainTitleSize;
  text-align: center;
  margin: 0;
  color: #ffffff;
  line-height: 1;
  }

.main__title--catalog {
  color: #111111;
  padding-top: 31px;
  padding-bottom: 32px;
  border-bottom: 1px solid $baseBorderColor;
  border-top: 1px solid $baseBorderColor;
}
