.main__title {
  font-size: $fontMainTitleSize;
  width: $widthMobile;
  text-align: center;
  margin: auto;
  color: $baseColor;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: $widthTablet) {
  .main__title {
    color: $linkColor;
    text-align: left;
    font-size: 60px;
    width: 420px;
    margin: 0;
    margin-left: 88px;
  }
}

.main__title-wrapper {
  width: 100%;
  padding-top: 31px;
  padding-bottom: 32px;
  border-bottom: 1px solid $baseBorderColor;
  border-top: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .main__title-wrapper {
    border: 0;
    padding-bottom: 0;
  }
}

.main__title--catalog {
  width: 280px;
  color: $linkColor;
  text-align: left;
  padding-left: 20px;
}

@media (min-width: $widthTablet) {
  .main__title--catalog {
    width: 735px;
    padding-left: 33px;
    margin: auto;
  }
}

.main__title--forms {
  width: 300px;
  padding-left: 20px;
  text-align: left;
  color: $linkColor;
  padding-top: 31px;
  padding-bottom: 32px;
  border-top: 1px solid $baseBorderColor;
}
