.main-nav {
  width: 100%;
  display: none;
}

@media (min-width: $widthTablet) {
  .main-nav {
    display: block;
    padding-top: 10px;
  }
}

@media (min-width: $widthDesktop) {
  .main-nav {
    padding: 0;
  }
}

.main-nav--show {
  display: block;
}

@media (min-width: $widthDesktop) {
  .main-nav--desktop {
    width: 700px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 88px;
      bottom: -588px;
      width: 720px;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: -100;
    }
  }
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @include titles;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: $widthTablet) {
  .main-nav__list {
    flex-direction: row;
    font-size: 18px;
    line-height: 1.39;
  }
}

@media (min-width: $widthDesktop) {
  .main-nav__list {
    justify-content: flex-end;
  }
}

.main-nav__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .main-nav__item {
    border: 0;
    padding: 0;
    padding-bottom: 6px;
    margin-right: 34px;
    font-size: 18px;
    line-height: 1.39;
    font-weight: 400;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 37px;
  }

  .main-nav__item:last-child {
    margin-right: 0;
  }

  .main-nav__item--active {
    border-bottom: 2px solid $baseBackColor;
  }
}

@media (min-width: $widthDesktop) {
  .main-nav__item {
    text-align: center;
    width: auto;
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
    padding-top: 14px;
    padding-bottom: 7px;
    margin-left: 35px;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 0;
  }

  .main-nav--desktop a {
    color: $baseColor;
  }

  .main-nav__item--active {
    border-bottom: 2px solid $baseColor;
  }
}

@media (min-width: $widthTablet) {
  .main-nav__toggle {
    display: none;
  }
}
