.main__title {
  font-size: $fontMainTitleSize;
  width: $widthMobile;
  text-align: center;
  margin: auto;
  color: $baseColor;
  line-height: 1;
  font-weight: 400;
}

@media (min-width: $widthTablet) {
  .main__title {
    color: $linkColor;
    text-align: left;
    font-size: 60px;
    width: 420px;
    margin: 0;
  }
}

.main__title-wrapper {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 40px;
  border-bottom: 1px solid $baseBorderColor;
  border-top: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .main__title-wrapper {
    border: 0;
    padding-bottom: 0;
    padding-top: 55px;
  }
}

@media (min-width: $widthDesktop) {
  .main__title-wrapper {
    padding-top: 73px;
  }
}

.main__title--catalog {
  width: 280px;
  color: $linkColor;
  text-align: left;
}

@media (min-width: $widthTablet) {
  .main__title--catalog {
    @include widthTablets;
    padding-left: 28px;
  }
}

@media (min-width: $widthDesktop) {
  .main__title--catalog {
    width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main__title--forms {
  width: 300px;
  padding-left: 20px;
  text-align: left;
  color: $linkColor;
  padding-top: 28px;
  padding-bottom: 35px;
  border-top: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .main__title--forms {
    @include widthTablets;
    padding-top: 54px;
    padding-left: 28px;
    padding-bottom: 56px;
    border: none;
  }
}

@media (min-width: $widthDesktop) {
  .main__title--forms {
    width: 1327px;
    padding-top: 72px;
    padding-left: 108px;
  }
}
