.more-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $widthDesktop) {
  .more-goods {
    padding-bottom: 86px;
  }
}

.more-goods__title {
  font-size: 24px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 32px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 247px;
    top: 15px;
    width: 53px;
    height: 3px;
    background-color: $baseBackColor;
  }
}

@media (min-width: $widthTablet) {
  .more-goods__title {
    font-size: 36px;
    background-color: $baseColor;
    padding-left: 37px;

    &::after {
      left: -30px;
      top: 24px;
      width: 768px;
      height: 3px;
      background-color: $baseBackColor;
      z-index: -1;
    }
  }
}

.more-goods__title-wrapper {
  width: 280px;
  border-bottom: 1px solid $baseBorderColor;
}

@media (min-width: $widthTablet) {
  .more-goods__title-wrapper {
    width: 708px;
    border: 0;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods__title-wrapper {
    width: 1217px;
  }
}

.more-goods .products__item {
  width: 280px;
  padding-bottom: 17px;
}

.more-goods h2 {
  width: 280px;
}

@media (min-width: $widthTablet) {
  .more-goods h2 {
    width: 370px;
  }
}

@media (min-width: $widthTablet) {
  .more-goods .products__item {
    width: 708px;
    margin: auto;
    background-color: $baseColor;
    border: 1px solid $baseBorderColor;
    margin-bottom: -1px;
    padding: 28px 0 28px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__item {
    display: flex;
  }
}

.more-goods .button {
  font-size: 16px;
  padding: 10px 0;
}


@media (min-width: $widthTablet) {
  .more-goods .button {
    width: 633px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .button {
    width: 245px;
  }
}

.more-goods .products__stats {
  font-size: 14px;
}

@media (min-width: $widthTablet) {
  .more-goods .products__stats {
    width: 353px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__stats {
    width: 284px;
  }
}

.products__item-wrapper h2 {
  margin-top: 13px;
  line-height: 1;
}

.more-goods .products__wrapper {
  margin-bottom: 11px;
}
