.more-goods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $widthDesktop) {
  .more-goods {
    padding-bottom: 86px;
  }
}

.more-goods__title {
  width: 230px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 32px;
  background-color: $baseColor;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $widthTablet) {
  .more-goods__title {
    font-size: 36px;
    background-color: $baseColor;
    padding-left: 37px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods__title {
    margin-top: 12px;
    padding-left: 40px;
  }
}

.more-goods__title-wrapper {
  width: 100%;
  position: relative;

  &::after {
    top: 42px;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $baseBackColor;
    z-index: -1;
  }
}

@media (min-width: $widthTablet) {
  .more-goods__title-wrapper {
    width: 100%;
    border: none;
    position: relative;

    &::after {
      top: 50px;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $baseBackColor;
      z-index: -1;
    }
  }
}

@media (min-width: $widthDesktop) {
  .more-goods__title-wrapper {
    width: 100%;
    position: relative;

    &::after {
      top: 36px;
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $baseBackColor;
      z-index: -1;
    }
  }
}

.more-goods__desc-wrapper {
  width: 320px;
  margin: auto;
}

@media (min-width: $widthTablet) {
  .more-goods__desc-wrapper {
    width: 671px;
    padding-right: 37px;
    margin: auto;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods__desc-wrapper {
    width: 1260px;
    padding-right: 40px;
    margin: auto;
  }
}

.more-goods .products__item {
  width: 280px;
  padding-bottom: 17px;
}

@media (min-width: $widthTablet) {
  .more-goods__title {
    width: 370px;
  }
}

@media (min-width: $widthTablet) {
  .more-goods .products__item {
    width: 708px;
    margin: auto;
    background: $baseColor;
    border: 1px solid $baseBorderColor;
    margin-bottom: -1px;
    padding: 18px 0 25px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__item {
    padding-top: 15px;
    padding-bottom: 16px;
    width: 895px;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    border-left: none;
    border-right: none;
    justify-content: space-between;
  }
}

@media (min-width: $widthTablet) {
  .more-goods .products__field {
    border: none;
    text-align: right;
  }

  .more-goods .products__value {
    border: none;
    width: 92px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__field {
    text-align: left;
  }

  .more-goods .products__value {
    text-align: left;
    width: 65px;
  }
}

.more-goods .button {
  font-size: 16px;
  padding: 10px 0;
}


@media (min-width: $widthTablet) {
  .more-goods .button {
    width: 633px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .button {
    width: 245px;
  }
}

.more-goods .products__stats {
  font-size: 14px;
}

@media (min-width: $widthTablet) {
  .more-goods .products__stats {
    width: 353px;
    font-size: 16px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__stats {
    width: 311px;
  }
}

.products__item-wrapper h3 {
  margin-top: 13px;
  line-height: 1;
}

.more-goods .products__wrapper {
  margin-bottom: 11px;
}

@media (min-width: $widthTablet) {
  .more-goods .products__wrapper {
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods .products__wrapper {
    margin: 0;
    justify-content: initial;
    margin-right: 13px;
  }
}

.more-goods h3 {
  width: 280px;
  text-transform: uppercase;
}

@media (min-width: $widthTablet) {
  .more-goods h3 {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
}

@media (min-width: $widthDesktop) {
  .more-goods h3 {
    margin-right: 42px;
  }
}
