.offer {
  background: url("../img/index-can-mobile@1x.png") no-repeat center 77%,
    url("../img/index-background-mobile@1x.jpg") no-repeat top center;
  padding-top: 29px;
  padding-bottom: 22px;
}

.offer__description {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 302px;
}
