.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__item {
  width: 100%;
  border-bottom: 1px solid $baseBorderColor;
  padding-bottom: 25px;
}

.products__item--cat {
  border-bottom: 1px solid $baseBorderColor;
  width: 280px;
}

.products__wrapper {
  width: 300px;
  display: flex;
  margin: auto;
}

.products__wrapper--cat {
  flex-direction: column;
  width: 280px;
}

.products__title {
  width: 72px;
}

.products__title h2 {
  width: 72px;
  font-size: 16px;
  font-weight: 400;
}

.products__stats {
  font-family: $fontSecondary;
  text-align: left;
}

.products__value {
  text-align: right;
  padding-left: 60px;
}

.products__field {
  font-weight: 400;
}

.products__more-title {
  text-transform: uppercase;
  text-align: center;
}

.products__more-title h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    margin-left: 90px;
    top: -60px;
    width: 31px;
    height: 31px;
    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

.products__more-goods {
  font-family: $fontSecondary;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 22px;
}

.products__more-wrapper {
  width: 100%;
  padding-top: 83px;
  padding-bottom: 25px;
  border-bottom: 1px solid $baseBorderColor;
}
