.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $widthTablet) {
  .products {
    width: 708px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 38px;
    justify-content: space-between;
    margin-top: 29px;
  }
}

@media (min-width: $widthDesktop) {
  .products {
    padding-top: 82px;
    padding-bottom: 0;
    width: 1217px;
    margin-top: 0;
  }
}

.products__item {
  width: 320px;
  border: 1px solid $baseBorderColor;
  padding-bottom: 24px;
  margin-top: -1px;
}

@media (min-width: $widthTablet) {
  .products__item {
    padding-bottom: 40px;
    border: 0;
    width: 324px;
    background: linear-gradient(to bottom, $baseColor 0, $baseColor 16%, $secondaryBackColor 16%, $secondaryBackColor 100%);
    margin-top: 56px;
    display: flex;
    flex-direction: column;
  }

  .products__item:nth-child(-n+2) {
    margin-top: 56px;
  }

  .products__item:nth-child(odd) {
    margin-right: 0;
  }
}

@media (min-width: $widthDesktop) {
  .products__item {
    width: 245px;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .products__item:nth-child(-n+2) {
    margin-top: 0;
  }
}

.products__wrapper {
  width: 280px;
  display: flex;
  margin: auto;
}

.products__item-wrapper .products__item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.products__item-wrapper .products__item:first-child {
  border-top: 1px solid $baseBorderColor;
}

.products__item-wrapper {
  width: 280px;
  margin: auto;
}

@media (min-width: $widthTablet) {
  .products__item-wrapper {
    width: 768px;
    margin-top: 45px;
  }
}

@media (min-width: $widthDesktop) {
  .products__item-wrapper {
    margin-left: 0;
    width: 895px;
  }
}

@media (min-width: $widthTablet) {
  .products__wrapper {
    flex-direction: column;
    width: 324px;
    margin-bottom: 30px;
  }
}

@media (min-width: $widthDesktop) {
  .products__wrapper {
    width: 245px;
  }
}

@media (min-width: $widthDesktop) {
  .products__wrapper-desk {
    display: flex;
    width: 1217px;
    justify-content: space-between;
  }
}

.products__picture {
  display: block;
  height: 144px;
}

@media (min-width: $widthTablet) {
  .products__picture {
    margin: auto;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 35px;
  }
}

.products__title h3 {
  width: 80px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 22px;
  margin-bottom: 10px;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: $widthTablet) {
  .products__title h3 {
    line-height: 1;
    width: 135px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 18px;
  }
}

.products__stats {
  font-family: $fontSecondary;
  text-align: left;
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
  color: #444444;
  border-spacing: 0 2px;
}

@media (min-width: $widthTablet) {
  .products__stats {
    font-size: 16px;
  }

  .products__stats tr {
    height: 31px;
  }

  .products__stats .products__value {
    border-bottom: 1px solid $baseBorderColor;
  }

  .products__stats .products__field {
    border-bottom: 1px solid $baseBorderColor;
  }
}

.products__stats-wrapper {
  width: 140px;
}

@media (min-width: $widthTablet) {
  .products__stats-wrapper {
    width: 250px;
    margin: auto;
  }
}

@media (min-width: $widthDesktop) {
  .products__stats-wrapper {
    width: 167px;
  }
}

.products__value {
  text-align: right;
  word-wrap: break-word;
}

.products__field {
  font-weight: 400;
  word-wrap: break-word;
}

.products__more-title {
  text-transform: uppercase;
  text-align: center;
}

.products__more-title h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    margin-left: 87px;
    top: -55px;
    width: 31px;
    height: 31px;
    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $widthTablet) {
  .products__more-title h2 {
    width: 134px;
    font-size: 20px;
    line-height: 1;
    margin: 0 auto;
    margin-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      margin-left: 28px;
      top: -109px;
      width: 61px;
      height: 61px;
      opacity: 0.2;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
    }
  }
}

.products__more-goods {
  font-family: $fontSecondary;
  font-size: 12px;
  margin: 0;
  text-align: center;
  margin-bottom: 21px;
}

@media (min-width: $widthTablet) {
  .products__more-goods {
    width: 170px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 85px;
  }
}

.products__more-wrapper {
  width: 320px;
  padding-top: 68px;
  padding-bottom: 24px;
  border: 1px solid $baseBorderColor;
  margin-top: -1px;
}

@media (min-width: $widthTablet) {
  .products__more-wrapper {
    width: 322px;
    border: 1px solid $baseBorderColor;
    padding-bottom: 39px;
    padding-top: 162px;
    margin-top: 140px;
  }
}

@media (min-width: $widthDesktop) {
  .products__more-wrapper {
    width: 243px;
    padding-bottom: 40px;
    margin-top: 0;
    align-self: flex-end;
    margin-bottom: 60px;
  }
}

@media (min-width: $widthTablet) {
  .products__item .button {
    margin: 0 auto;
  }
}

@media (min-width: $widthDesktop) {
  .products__item .button {
    width: 169px;
  }
}

.products .button {
  font-size: 16px;
  padding: 10px 0;
}
