.products {
  display: flex;
  flex-direction: column;
}

.products__item {
  padding-bottom: 25px;
  border-bottom: 1px solid $baseBorderColor;
}

.products__wrapper {
  display: flex;
}

.products__title {
  width: 72px;
}

.products__title h2 {
  width: 72px;
  font-size: 16px;
}

.products__stats {
  font-family: $fontSecondary, "Arial", sans-serif;
  text-align: left;
}

.products__value {
  text-align: right;
  padding-left: 60px;
}

.products__field {
  font-weight: 400;
}
