.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 207px;
  border-bottom: 1px solid $baseBorderColor;
  border-top: 1px solid $baseBorderColor;
  padding: 21px 0 20px 73px;
}

@media (min-width: $widthTablet) {
  .social {
    border: 0;
    padding: 0;
    width: auto;
    padding-bottom: 10px;
  }
}

.social__item--instagram {
  margin-right: 40px;
  margin-left: 36px;
}

@media (min-width: $widthTablet) {
  .social__item--instagram {
    margin-right: 32px;
    margin-left: 32px;
  }
}

@media (min-width: $widthTablet) {
  .social__item--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .social__item--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__item--facebook svg {
    width: 14px;
    height: 28px;
  }
}
