.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  border-bottom: 1px solid $baseBorderColor;
  border-top: 1px solid $baseBorderColor;
}

.social__item {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
