.specification {
  width: $widthMobile;
  margin: auto;
  padding-bottom: 20px;
}

@media (min-width: $widthTablet) {
  .specification {
    width: 738px;
    padding-left: 30px;
    padding-top: 10px;
    border-bottom: 1px solid $baseBorderColor;
    padding-bottom: 0;
  }
}

@media (min-width: $widthDesktop) {
  .specification {
    width: 1220px;
    padding: 37px 40px 16px;
    border: 0;
  }
}

.specification__title {
  @include titles;
  color: $linkColor;
  text-align: left;
  width: 280px;
  margin: auto;
  padding-bottom: 30px;
}

@media (min-width: $widthTablet) {
  .specification__title {
    margin: 0;
    font-size: 60px;
    line-height: 1;
    width: 380px;
    padding-bottom: 55px;
  }
}

.specification__list {
  list-style: none;
  padding-left: 0;
  margin-top: 11px;
}

@media (min-width: $widthTablet) {
  .specification__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

@media (min-width: $widthDesktop) {
  .specification__list {
    justify-content: space-between;
  }
}

.specification__item {
  width: 260px;
  margin: auto;
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: -10px;
    width: 60px;
    height: 60px;
    background-color: $baseBackColor;
    background-position: 5px 5px;
  }
}

@media (min-width: $widthTablet) {
  .specification__item {
    width: 300px;
    margin: 0;
    margin-bottom: 78px;
    min-height: 240px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 155px;
      width: 80px;
      height: 80px;
      background-color: $baseBackColor;
      background-position: 5px 5px;
    }
  }

  .specification__item:nth-child(odd) {
    margin-right: 82px;
  }

  .specification__item:nth-last-child(-n+2) {
    margin-bottom: 50px;
  }
}

@media (min-width: $widthDesktop) {
  .specification__item {
    width: 245px;
    margin: 0;
    min-height: 240px;
  }

  .specification__item:nth-child(odd) {
    margin: 0;
  }

  .specification__item:nth-last-child(-n+2) {
    margin: 0;
  }
}

.specification__item--useful {
  &::before {
    background: no-repeat url("../img/advantage-leaf@1x.png") 50% 50% / 50px 50px,
      $baseBackColor;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

@media (min-width: $widthTablet) {
  .specification__item--useful {
    &::after {
      @include numbersBackground;
    }
  }
}

.specification__item--powder {
  &::before {
    background: no-repeat url("../img/advantage-powder@1x.png") 50% 50% / 50px 50px,
      $baseBackColor;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

@media (min-width: $widthTablet) {
  .specification__item--powder {
    &::after {
      @include numbersBackground;
      content: "2";
      left: 113px;
    }
  }
}

.specification__item--change {
  &::before {
    background: no-repeat url("../img/advantage-dining@1x.png") 50% 50% / 50px 50px,
      $baseBackColor;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

@media (min-width: $widthTablet) {
  .specification__item--change {
    &::after {
      @include numbersBackground;
      content: "3";
      left: 113px;
    }
  }
}

.specification__item--result {
  &::before {
    background: no-repeat url("../img/advantage-clock@1x.png") 50% 50% / 50px 50px,
      $baseBackColor;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

@media (min-width: $widthTablet) {
  .specification__item--result {
    &::after {
      @include numbersBackground;
      content: "4";
      left: 113px;
    }
  }
}

.specification__description {
  color: $fontBaseColor;
  width: 200px;
  margin: 0;
  margin-left: 70px;
  font-family: $fontSecondary;
  line-height: 1.29;
  text-align: left;
  position: relative;
}

@media (min-width: $widthTablet) {
  .specification__description {
    margin: 0;
    width: 260px;
    margin-top: 117px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: $widthDesktop) {
  .specification__description {
    width: 245px;
  }
}
