.text-logo {
  padding-top: 40px;
  padding-bottom: 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $widthTablet) {
  .text-logo {
    padding: 0;
  }
}

@media (min-width: $widthDesktop) {
  .text-logo {
    margin-left: 0;
  }
}
