.text-logo {
  padding-top: 40px;
  padding-bottom: 28px;
}

@media (min-width: $widthTablet) {
  .text-logo {
    padding: 0;
  }
}

@media (min-width: $widthDesktop) {
  .text-logo {
    margin-left: 0;
  }
}
