$fontBase: "Oswald Regular";
$fontBold: "Oswald Medium";

$fontBaseSize: 14px;
$fontBaseColor: #444444;

$fontMainTitleSize: 36px;

@font-face{
  font-family: "Oswald Regular";
  src: url('../fonts/oswaldregular.woff') format('woff');
}

@font-face{
  font-family: "Oswald Medium";
  src: url('../fonts/oswaldmedium.woff') format('woff');
}
