$fontBase: "Oswald", "Arial", sans-serif;

$fontSecondary: "Arial", "Calibri", sans-serif;

$fontBaseSize: 14px;
$fontBaseColor: #444444;

$fontMainTitleSize: 36px;
$fontSecTitleSize: 24px;

@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}
