@mixin titles {
  font-size: $fontMainTitleSize;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: $baseColor;
  line-height: 1;
}

@mixin widthTablets {
  width: 735px;
  padding-left: 33px;
  margin: auto;
}

@mixin widthDesktop {
  width: 1327px;
  padding-left: 113px;
  margin: auto;
}
