@import "fonts.scss";

body {
  font-family: $fontBase, Arial, sans-serif;
  font-size: $fontBaseSize;
  width: 320px;
  margin: 0 auto;
}

@import "blocks/visually-hidden.scss";
@import "blocks/text-hiding.scss";
@import "blocks/header.scss";
@import "blocks/text-logo.scss";
@import "blocks/main.scss";
@import "blocks/main-nav.scss";
@import "blocks/offer.scss";
@import "blocks/button.scss";
