$baseColor: #ffffff;

$baseTextColor: #f2f2f2;
$secondaryTextColor: #f2f2f2;

$baseBorderColor: rgba(0, 0, 0, 0.1);

$baseBackColor: #68b738;
$secondaryBackColor: #f2f2f2;

$togglerBorderColor: #cdcdcd;

$widthMobile: 320px;
$widthTablet: 768px;
$widthDesktop: 1300px;

$linkColor: #111111;

$labelColor: #222222;
